<article>
    <div class="post-heading">
        <h2>{{title}}</h2>
        <div>
            <p>Posted by {{user_id}} on {{post_date}}</p>
        </div>
    </div>
    <div class="post-content">
        {{content}}
    </div>
</article>