<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <!-- CSS -->
</head>
<body>
  <header>
    <!-- Nav -->
  </header>
  <main>
    {{{body}}} <!-- This is where the specific page content will be inserted -->
  </main>
  <footer>
    <!-- Footer -->
  </footer>
  <!-- JavaScript -->
</body>
</html>
