<!-- CSS Link -->
<link rel="stylesheet" href="/css/dashboard.css">

<main class="container">
{{!-- 
    <div class="new-btn">
        <button id="new-post-button" class="btn btn-primary">+ New Post</button>
    </div> --}}

    <form class="new-post-form">
        <header class="new-post-heading">
            <h4>New Post</h4>
        </header>
        <div class="post-inputs">
            <div class="post-name">
                <label for="post-name-input">Title:</label>
                <input class="post-name-input" type="text" id="post-name-input" />
            </div>
            <div class="post-body">
                <label for="post-body-input">Spill the Beans:</label>
                <input class="post-body-input" type="text" id="post-body-input" />
            </div>
            <div class="create-post-submit">
                <button class="create-post-btn" type="submit">Create Post</button>
            </div>
        </div>
    </form>

    <section>
        <header>
            <h3 class="blog-name">{{blog.name}}</h3>
        </header>

        <section class="all-posts">
            {{#each blog.comments as |comment|}}
            <div class="comment">
                <p>{{comment.text}}</p>
                <p class="comment-date">{{comment.date_created}}</p>
            </div>
            {{/each}}
        </section>
    </section>
    <form id="form-container"></form>


</main>

<script src="/js/dashboard.js"></script>