<!-- CSS Link -->
<link rel="stylesheet" href="/css/login.css">

<!-- Main -->
<main class="login-page">



  <!-- Login -->
  <div class="login-card">
    <!-- Header -->
    <div class="heading">
      <h2>Login</h2>
    </div>

    <!-- Login Form -->
    <form class="form login-form">
      <!-- Email -->
      <div class="form-group login-email">
        <label for="email-login">Username:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <!-- Password -->
      <div class="form-group login-password">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <!-- Submit -->
      <div class="form-group login-submit">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>





  <!-- Sign Up -->
  <div class="signup-card">
    <!-- Header -->
    <div class="heading">
    <h2>Signup</h2>
    </div>

    <!-- Sign Up Form -->
    <form class="form signup-form">
      <div class="form-group signup-username">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <!-- Password -->
      <div class="form-group signup-password">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <!-- Submit -->
      <div class="form-group signup-submit">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</main>

<script src="./js/login.js"></script>