<!-- CSS Link -->
<link rel="stylesheet" href="/css/login.css">

<!-- Main -->
<main>

  <!-- Login Section-->
  <div class="login-card">

    <header class="heading">
      <h2>Login</h2>
    </header>

    <!-- Login Form -->
    <form class="form login-form">
      <div class="form-group username-section">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group password-section">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group submit-login">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>


  <!-- Sign Up -->
  <div class="login-card">

    <header class="heading">
      <h2>Sign Up</h2>
    </header>

    <form class="form signup-form">
      <div class="form-group username-section">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group password-section">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group submit-signup">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>

</main>

<script src="./js/login.js"></script>